body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnersCardWrapper {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.partnerCard {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  justify-content: space-between;
}

.partnerHeading {
  font-size: 20px;
}

li {
  list-style: none;
  min-width: 600px;
}

p {
  margin: 0px;
}

